.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("loader.gif") center no-repeat #000;
    opacity: 0.5;
    /*filter: alpha(opacity=50);*/
}
.wait-text{
    position: fixed;
    text-align: center;
    left:0;
    top: 60%;
    width: 100%;
    z-index: 9999;
    font-weight: bold;
}