/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Nov-2015, 15:56:29
    Author     : Luthando Ntsekwa
*/

#header {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    margin-bottom: 1em;
}
#titles {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    background-color: #404D6C;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 110%;
    margin: 0;
    padding: 0.5em;
    vertical-align: bottom;
}
#titles #title {
    font-weight: bold;
    white-space: nowrap;
}
#titles p {
    margin: 0;
    padding: 0;
}
#header .links, #footer {
    background-color: #929bb1;
    color: #ddd;
}
#header .links {
    border-left: 1px solid #747E93;
    border-right: 1px solid #747E93;
    border-bottom: 1px solid #747E93;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5em;
    text-align: left;
}
ul.links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.links li {
    display: inline;
    white-space: nowrap;
    text-align: left;
}
#header a, #footer a {
    color: white;
    text-decoration: none;
}
#header form, #header form input, #footer form, #footer form input {
    font-size: 95%;
    display: inline;
}
.content_tab{
    text-align: justify;
    margin-top: 25px;
}

.caption {
    //text-align: left;
    width: 98.8%;
    background-color: #404D6C;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 110%;
    margin: 0;
    padding: 0.5em;
    vertical-align: bottom;
}
