/*! 
* DevExtreme
* Version: 15.2.5
* Build date: Jan 27, 2016
*
* Copyright (c) 2012 - 2016 Developer Express Inc. ALL RIGHTS RESERVED
* EULA: https://www.devexpress.com/Support/EULAs/DevExtreme.xml
*/a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{font-size:100%;margin:0;padding:0;border:0;outline:0;background:0 0}.dx-viewport,body,html{width:100%;height:100%}body{background:#fff}blockquote,q{quotes:none}a{color:#818181}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.dx-full-height{height:100%}.dx-transition{position:relative}.dx-transition-absolute .dx-transition-inner-wrapper{position:absolute;height:100%;width:100%}.dx-hidden{display:none!important}.dx-fast-hidden,.dx-inactive-view{position:absolute!important;top:-9999px!important;left:-9999px!important}.dx-fast-hidden,.dx-inactive-view,.dx-skip-animation{-moz-transition-property:none!important;-o-transition-property:none!important;-webkit-transition-property:none!important;transition-property:none!important;-moz-transition-delay:0!important;-o-transition-delay:0!important;-webkit-transition-delay:0!important;transition-delay:0!important;-moz-transition-duration:0!important;-o-transition-duration:0!important;-webkit-transition-duration:0!important;transition-duration:0!important}.dx-transition-absolute .dx-active-view{left:0;height:100%;position:absolute}.dx-layout.dx-animating.dx-enter,.dx-layout.dx-animating.dx-leave{position:absolute;top:0;left:0}