  /* DETAILS ///////////////////////////////////////////////////////////////////
  //                                                                          //
  //                    Last Edited By: Gareth Ambrose                        //
  //                        Date: 28 September 2007                           //
  //                                                                          //
  /////////////////////////////////////////////////////////////////////////// */
  
  /* BROWSERS //////////////////////////////////////////////////////////////////
  This is an IE specific stylesheet. The general stylesheet is Navigation.css.
  The major difference between the two is that a navi table style and the menu
  hover are different. The navi table style is only used by IE and so is not 
  included in the general stylesheet. IE does not support li:hover so a:hover is 
  used instead - the result is the same, fortunately.                         */
  
  /* SECTION - PAGE ELEMENTS ///////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////// */ 
  table             { word-wrap: break-word;  }
  
  table.navi        { float: left;
                    border-collapse: collapse; 
                    border: none; 
                    margin: 0px; 
                    padding: 0px; }
  
  p                 { margin-top: 0px;
                    margin-bottom: -10px; }
  /* //////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////// */

  /* SECTION - NAVIGATION MENU /////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////// */
  /* The list items are offset by 0px so that the borders overlap and form a  //
  single line, otherwise the menu appears messy and indented.                 */
  div.navi li       { margin-left: 0px;
                    position: relative; }

  /* Unordered lists are displayed as blocks so that they apear rectangular.
  Unordered lists have no display when their level is not visible. Each 
  subsequent level is given an offset relative to its supposed position so that 
  it appears to the side of its parent and in line. An unordered list's offset 
  is inherited from its parent.                                               */
  div.navi ul       { display: block; }                  
  div.navi ul li ul { display: none;  }                  
  div.navi ul li a:hover ul {display: block;
                    position: absolute;
                    top: 1px;
                    left: 140px;  }
  div.navi ul li a:hover ul li ul {display: none; }
  div.navi ul li a:hover ul li a:hover ul {display: block; 
                    left: 141px;  }
  
  div.navi ul, 
  div.navi ul li ul {	float: left;
                    margin: 0;
                  	padding: 0;
                    list-style-type: none;  }
  
  /* List item hyperlinks keep the same appearance. These hyperlink are used to 
  form the actual menu items and so are very important. They are set to display 
  as blocks to gain a rectangular shape. When the user hovers over a hyperlink 
  its colours change.                                                         */
  div.navi ul li a, 
  div.navi ul li a:visited,
  div.navi ul li a:hover ul li a, 
  div.navi ul li a:hover ul li a:visited, 
  div.navi ul li a:hover ul li a:hover ul li a, 
  div.navi ul li a:hover ul li a:hover ul li a:visited { display: block;
  	                text-decoration: none; 
                    width: 140px;
                    max-width: 140px;
                    min-width: 140px;
                    height: 20px;
                    max-height: 20px;
                    min-height: 20px;
                    line-height: 19px;
                    text-align: center; 
                    border: 1px solid #0B3162;
                    background-color: #FFFFFF;
                    color: #0B3162; }
                                    
  div.navi ul li a:hover, 
  div.navi ul li a:hover ul li a:hover, 
  div.navi ul li a:hover ul li a:hover ul li a:hover  { text-decoration: none;
                    background-color: #BFCDDB;
                    color: #000000; }
                    
  div.navi ul li a, 
  div.navi ul li a:visited { border-left: none; border-right: none; } 
  
  /* Current hyperlinks (these show the path to page being viewed) keep the same
  appearance. They behave identically to the default menu hyperlinks but the 
  cursor is changed so that they don't appear to be hyperlinks. This makes users 
  less likely to click a link to a page they are already viewing.             */ 
  div.navi ul li a.current, 
  div.navi ul li a.current:visited, 
  div.navi ul li a:hover ul li a.current, 
  div.navi ul li a:hover ul li a.current:visited, 
  div.navi ul li a:hover ul li a:hover ul li a.current, 
  div.navi ul li a:hover ul li a:hover ul li a.current:visited { background-color: #BFCDDB;
                    color: #0B3162; }
  
  /* Parent list items have an arrow on the right-hand side. This is done by
  using images as a background. The background also depends on whether the
  parent current or not.                                                      */
  div.navi ul li a.parent,
  div.navi ul li a.parentnormal:visited, 
  div.navi ul li a:hover ul li a.parentnormal { background-image: url(../Images/ArrowBase.png); }
  div.navi ul li a.parentnormal:hover,
  div.navi ul li a:hover ul li a.parentnormal:hover { background-image: url(../Images/ArrowHover.png);  }
  div.navi ul li a.parentcurrent, 
  div.navi ul li a:hover ul li a.parentcurrent { background-image: url(../Images/ArrowCurrent.png);
                    color: #0B3162; }
  div.navi ul li a.parentcurrent:hover,
  div.navi ul li a:hover ul li a.parentcurrent:hover { background-image: url(../Images/ArrowCurrent.png);
                    color: #0B3162; }
  /* //////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////// */