  /* DETAILS ///////////////////////////////////////////////////////////////////
  //                                                                          //
  //                    Last Edited By: Gareth Ambrose                        //
  //                        Date: 21 September 2007                           //
  //                                                                          //
  /////////////////////////////////////////////////////////////////////////// */
  
  /* BROWSERS //////////////////////////////////////////////////////////////////
  This is an IE 7 specific stylesheet. The general stylesheet is Navigation.css
  and Navigation_IE.css is the IE 6- stylesheet. Unfortunately IE7 is sort of a
  hybrid so it has its own stylesheet.                                        */
  
  /* SECTION - PAGE ELEMENTS ///////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////// */
  p                 { margin-top: 0px; 
                      margin-bottom: 0px;  }
  /* //////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////// */